services:
  localstack:
    image: localstack/localstack:latest
    ports:
      - '4566:4566'
      - '4510-4559:4510-4559'
    environment:
      - SERVICES=sqs
      - DEBUG=1
      - LOCALSTACK_HOST=localhost.localstack.cloud
      - EXTRA_CORS_ALLOWED_ORIGINS=https://app.localstack.cloud
      - DISABLE_CORS_CHECKS=1
    networks:
      - payment-network
    restart: unless-stopped
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:4566/_localstack/health']
      interval: 5s
      timeout: 5s
      retries: 10
    profiles:
      - dev
      - observability

  localstack-init:
    image: amazon/aws-cli:latest
    environment:
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
      - AWS_DEFAULT_REGION=us-east-1
    entrypoint: /bin/sh
    command:
      - -c
      - |
        echo "Aguardando LocalStack..."
        sleep 5
        echo "Criando fila SQS: payment-queue"
        aws --endpoint-url=http://localstack:4566 sqs create-queue --queue-name payment-queue
        echo "Filas criadas:"
        aws --endpoint-url=http://localstack:4566 sqs list-queues
    depends_on:
      localstack:
        condition: service_healthy
    networks:
      - payment-network
    profiles:
      - dev
      - observability

